:root {
  --dark-primary-color:#110034;
  --dark-secondary-color:#291948;
  --ligh-primary-color:#f25a0d;
  --background-primary-color:#f5f5f5;
  --background-secondary-color:#f1f1f1;
  --desktop-x-padding:6%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    color: var(--background-primary-color);
}

.header .navbar {
  padding: 18px var(--desktop-x-padding); 
  background-color: var(--dark-primary-color);
  display: flex;
  justify-content: space-between;
}

.header .navbar ul {
    display: flex;
    gap: 35px;
}


.header .navbar a {
  color: var(--background-primary-color);
}

.header .hero-section {
  background-color: var(--dark-secondary-color);
    padding: 18px var(--desktop-x-padding);
}

.header .hero-section h1,
.header .hero-section h2 {
    padding: 30px 0;
}

.header .hero-section button {
  color: var(--background-primary-color);
    padding: 6px 6px;
    background-color: var(--ligh-primary-color);
    border: solid 1px var(--ligh-primary-color);
    border-radius: 3px;
}
